*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.fsb{
    display: flex;
    justify-content: space-between;
}
header{
    & ul{
        display: flex;
        li{
            a{
                color: $white-color;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 26px;
                text-decoration: none;
            }
        }
    }
}