
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}


.fsb{
    display: flex;
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.container{
    margin: 0 auto;
    width: 1170px;
}
.testimonial{   
    height: 440px;
}
.testimonial, .clients, .contacts, .footer{
    background-color: black;
}
// лучше прееименовать 
.container{
    width: 1170px;
   
    & .box{
        display: flex;
        align-items: center;
        padding: 40px 0;
      .logo{
        align-items: center;
        display: flex;
        .logo1{
            width: 60px;
        }
        .text{
            color: beige;
            margin-left: 14px;
            font-size: 14px;
            font-weight: 250;
        }
        
    }
    .icon{
        width: 200px;
        margin-left: 630px;
    }
  }
   .box-3{
    background: rgb(239, 72, 54);
    display: flex;
     .block{
        margin-left: 50px;
        .text-test, .text-test1{
          width: 490px;
          color: #ffffff;
          margin-top: 60px;
       }
    }
    .pagination{
        color: rgb(194, 53, 38);
        margin-top: 358px;
        width: 40px;
    }
    .pagination:hover{
        color: #ffffff;
    }
   } 
    
  .box-l{
    display: flex;
   .adress{
    width: 470px;
    background: rgb(40, 102, 189) ;
    color: white;
    padding: 38px 0 44px 80px;
      .text-c {
        font-size: 20px;
         font-weight: 700;
    }
    .text-contacts{
        margin-bottom: 20px;
        font-size: 14px;
font-weight: 300;
    }
  }  
   .touch{
    width: 700px;
    background: rgb(28, 28, 28);
    display: block;
    
    .text-touch{
        font-size: 30px;
        color: #ffffff;
        font-weight: 300;
        margin-left: 60px;
        margin-top: 65px;
    }
    
    .touch-sm{
        margin-left: 60px;
        margin-top: 30px;
        input{
            display: none;
        }
        label{
            width: 390px;
            height: 40px;
            background: rgb(28, 28, 28);
            color: beige;
            
            border-bottom: 1px solid beige;
        }
        label:hover{
            color: blue;
            border-bottom: 1px solid blue;
        }
        

    }
    button{
        background: rgb(28, 28, 28);
        color: rgb(239, 72, 54);
        margin-left: 60px;
        margin-top: 50px;
    }
    
    
}
   
 }
 .box-2{
    padding: 105px 0;
 }
 .logo2:first-child{
    margin-left: 30px;

 }
 .logo2:nth-child(n+1){
    margin-left: 80px;
 }
}




header{
    position: relative;
    & .header-wrap{
        padding-top: 66px;
        z-index: 2;
        & .logo{ 
            display: inline-block;
            height: 33px;
            width: 33px;
            position: relative;
        }
        & ul{ 
            width: 752px;
            li{
                a{
                    position: relative;
                    color: $white-color;
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 26px;
                    text-decoration: none;
                    cursor: pointer;
                    z-index: 2;
                    
                }
                & .menu-item:hover{
                    color: $nav-hover-color;

                }
            }
        }
    }
    
    &.bg-cover{
        background-image:linear-gradient(0deg, #010102 0%, #031224 100%);;
        background-repeat:no-repeat;
        background-position: center;

        height: 100vh;

    }
    & .bg-forest{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.1;
    }
    // $font-size, $font-weight, $line-height, $font-color
    & .first-screen-content-section{
        padding-top: 220px;
        position: relative;
        display: flex;
        & .content{
           padding-left: 99px;
            & .header{
                @include font(48px,300,66px,#fff);
                width: 327px;
                letter-spacing: 2px;
            }
            & p{
                width: 508px;
                letter-spacing: 1px;
                @include font(16px,250,32px,#fff);
            }
        }
        .face-photo{
            height: 544px;
            width: 470px;

        }
    }
}

