@mixin font ($font-size, $font-weight, $lh, $font-color){
   font-size: $font-size;
   font-weight: $font-weight;
   line-height: $lh;
   color: $font-color;
    
}
$nav-hover-color: #ef4836;
$white-color: #ffffff;