@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.fsb {
  display: flex;
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.invisible-heading {
  opacity: 0.03;
  font-family: "Raleway";
  font-size: 128px;
  font-weight: 800;
  line-height: normal;
  color: #fff;
}

header {
  position: relative;
}
header .header-wrap {
  padding-top: 66px;
  z-index: 2;
}
header .header-wrap .logo {
  display: inline-block;
  height: 33px;
  width: 33px;
  position: relative;
}
header .header-wrap ul {
  width: 752px;
}
header .header-wrap ul li a {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
}
header .header-wrap ul li .menu-item:hover {
  color: #ef4836;
  font-weight: bold;
  letter-spacing: 2px;
}
header.bg-cover {
  background-image: linear-gradient(0deg, #010102 0%, #031224 100%);
  background-repeat: no-repeat;
  background-position: center;
}
header .bg-forest {
  position: absolute;
  left: 0;
  top: 0;
  height: 784px;
  width: 100%;
  opacity: 0.03;
}
header .first-screen-content-section {
  padding-top: 220px;
  position: relative;
  display: flex;
}
header .first-screen-content-section .content {
  padding-left: 99px;
}
header .first-screen-content-section .content .header {
  font-size: 48px;
  font-weight: 300;
  line-height: 66px;
  color: #fff;
  width: 327px;
  letter-spacing: 2px;
  padding-bottom: 28px;
}
header .first-screen-content-section .content p {
  width: 508px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 250;
  line-height: 32px;
  color: #fff;
}
header .first-screen-content-section .photo-wrap {
  position: relative;
}
header .first-screen-content-section .photo-wrap .face-photo {
  height: 544px;
  width: 470px;
}
header .first-screen-content-section .photo-wrap .btn-photo {
  position: absolute;
  top: 227px;
  left: 190px;
  width: 100px;
  height: 100px;
}
header .first-screen-content-section .photo-wrap::before {
  content: "";
  border-bottom: 0.1px solid white;
  width: 91px;
  height: 1px;
  position: absolute;
  left: 435px;
  top: 21px;
}

.contacts, .footer {
  background-color: black;
}

.container {
  width: 1170px;
}
.container .box {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.container .box .logo {
  align-items: center;
  display: flex;
}
.container .box .logo .logo1 {
  width: 60px;
}
.container .box .logo .text {
  color: beige;
  margin-left: 14px;
  font-size: 14px;
  font-weight: 250;
  font-family: "Raleway";
}
.container .box .icon {
  width: 200px;
  margin-left: 630px;
}
.container .box-l {
  display: flex;
}
.container .box-l .adress {
  width: 470px;
  background: rgb(40, 102, 189);
  color: white;
  padding: 38px 0 44px 80px;
}
.container .box-l .adress .text-c {
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway";
}
.container .box-l .adress .text-contacts {
  font-size: 14px;
  font-weight: 300;
  font-family: "Raleway";
}

.link-to {
  font-size: 18px;
  font-weight: 700;
  line-height: 66px;
  color: #fff;
  letter-spacing: 1px;
}
.link-to img {
  margin-left: 14px;
}
.link-to:hover {
  font-size: 19px;
  letter-spacing: 2px;
}

.about {
  background-color: #000;
  padding-top: 212px;
}
.about .about-text {
  display: flex;
  padding-top: 130px;
  padding-bottom: 165px;
  position: relative;
  background-color: #205eba;
}
.about .about-text .text-wrap {
  padding-left: 62px;
}
.about .about-text .text-wrap p {
  padding-bottom: 20px;
  width: 480px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
}
.about .about-text .text-wrap p::before {
  content: "";
  border-bottom: 0.1px solid white;
  width: 38px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 143px;
}
.about .about-section-photo {
  width: 473px;
  height: 544px;
  position: absolute;
  left: 615px;
  bottom: 80px;
}/*# sourceMappingURL=index.css.map */